@import url("reset.css");

/* 기본 선택자 */
div {
  background-color: red;
  color: white;
}

/* string 속성 */
#text-red {
  color: red;
}

/* class, form 속성 */
.text-large {
  font-size: 20px;
}

/* 특정 속성 선택 후 변경 */
li.text-large {
  font-size: 30px;
}

/* 결합 선택자 */
div img {
  width: 400px;
}

div > a {
  color: white;
}

/* div p + a {
  background-color: pink;
} */

div p ~ a {
  background-color: pink;
}

/* 가상 선택자 */
.btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
}

.btn:hover {
  background-color: darkgreen;
  border-radius: 12px;
  cursor: pointer;
}

/* 박스 스타일 */
.box {
  width: 400px;
  height: 400px;
  background-color: red;
  color: white;
  border: 5px solid black;
  /* padding: 20px 10px 40px 0; */
  padding: 20px 40px;
  margin: 40px 0;
  box-sizing: border-box; /* padding, border 포함 */
}

.children {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: aliceblue;
}
